<div class="sidebar">
  
    <p>
      <button type="button" class="btn btn-primary btn-lg">Large button</button>
    </p>
    <p>
      <button type="button" class="btn btn-primary btn-lg">Large button</button>
    </p>
<div>



