<div class='bt grid'>
  <dic class="four wode colum"></div>
  <div class="eight wide colum">
    <% if(success){ %>

    <% } %>
    <% if(error){ %>
      <div class="bt error message">
        <p><%= error  %></p>
      </div>
    <% } %>
  </div>
</div>

